/* Global style for ALL Vuetify data table headers */
.v-data-table thead tr {
  background-color: #01172f !important;
}

.v-data-table thead th {
  background-color: #01172f !important;
  color: white !important;
}
